<h1>Purchase Tracker</h1>
<h3>What have I purchased and when can I return it.</h3>

<button (click)="addPurchase = true">Create Purchase</button><br><br>

<div *ngIf="!selectedPurchase && !addPurchase">
  <div *ngFor="let purchase of purchases" >
  <!-- <table class="table table-striped table-hover" (click)="deleting ? null : displayPurchase(purchase)"> -->
  <table class="table table-striped table-hover" (click)="displayPurchase(purchase)">
    <thead class="table-danger">
      <tr>
        <th>{{purchase.purchaseDate}}</th>
        <!-- <th *ngIf="!purchase.online">In person</th> -->
        <th *ngIf="purchase.online">Online</th>
        <th *ngIf="!purchase.online"></th>
        <th>1</th>
        <th>2</th>
        <th>
          <button class="btn btn-light" (click)="deletePurchase(purchase.id)" (click)="selectedPurchase = null">Delete</button>
          <!-- <button class="btn btn-light" (click)="deletePurchase(purchase.id)" (click)="deleting = true">Delete</button> -->
        </th>
    </tr>
  </thead>
    <tbody>
      <!-- <tr *ngFor="let purchase of purchases"> -->
      <tr>
        <td [rowSpan]="3" >Project: <strong>{{purchase.name}}</strong></td>
        <td *ngIf="purchase.store.name" >{{purchase.store.name}}</td>
        <td>
          <tr>Delivered: {{purchase.delivered}}</tr>
          <tr>Arriving: {{purchase.arrivalDate}}</tr>
          <tr>Return by: {{purchase.returnDate}}</tr>
        </td>
        <td *ngIf="purchase.returned">Returned: {{purchase.returned}}</td>
        <td *ngIf="!purchase.returned"></td>
        <td>
          <tr></tr>
          <tr *ngIf="purchase.pastReturnDate"><strong>Past Return Date</strong></tr>
          <tr *ngIf="!purchase.pastReturnDate"></tr>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<div *ngIf="selectedPurchase && !editPurchase && !addPurchase">
  <p>Project: {{selectedPurchase.name}}</p>
  <p>Purchased: {{selectedPurchase.purchaseDate}}</p>
  <p>Online: {{selectedPurchase.online}}</p>
  <p>Store: {{selectedPurchase.store.name}}</p>
  <p>Delivered: {{selectedPurchase.delivered}}</p>
  <p>Arriving: {{selectedPurchase.arrivalDate}}</p>
  <p>Return by: {{selectedPurchase.returnDate}}</p>
  <p>Returned: {{selectedPurchase.returned}}</p>
  <p>Past Return Date: {{selectedPurchase.pastReturnDate}}</p>
  <button (click)="setEditPurchase()">Update</button>
  <button (click)="selectedPurchase = null">Back</button>
</div>

<form *ngIf="editPurchase">
  <br>
  Project name: <input type="text" name="purchaseName" [(ngModel)]="editPurchase.name"><br>
  Date purchased: <input type="text" name="purchaseDate" [(ngModel)]="editPurchase.purchaseDate"><br>
  Store: <input type="text" name="storeName" [(ngModel)]="editPurchase.store.name"><br>
  Online: <input type="checkbox" name="online" [(ngModel)]="editPurchase.online"><br>
  Delivered <input type="checkbox" name="delivered" [(ngModel)]="editPurchase.delivered"><br>
  Arrival Date: <input type="text" name="arrivalDate" [(ngModel)]="editPurchase.arrivalDate"><br>
  Return Date: <input type="text" name="returnDate" [(ngModel)]="editPurchase.returnDate"><br>
  Returned: <input type="checkbox" name="returned" [(ngModel)]="editPurchase.returned"><br>
  Past Return Date: <input type="checkbox" name="pastReturnDate" [(ngModel)]="editPurchase.pastReturnDate"><br>
  <button (click)="updatePurchase(editPurchase)">Save</button>
  <button (click)="editPurchase = null">Cancel</button>
</form>

<form *ngIf="addPurchase" >
  <h3>Add new purchase</h3>
  Project name: <input required="" type="text" name="purchaseName" placeholder="*required" [(ngModel)]="newPurchase.name"><br>
  Date purchased: <input required="" type="text" name="purchaseDate" placeholder="*required yyyy-mm-dd" [(ngModel)]="newPurchase.purchaseDate"><br>
  Online: <input type="checkbox" name="online" [(ngModel)]="newPurchase.online"><br>
  Delivered <input type="checkbox" name="delivered" [(ngModel)]="newPurchase.delivered"><br>
  Store: <input type="text" name="storeName" value='1' [(ngModel)]="newPurchase.store.id"><br>
  Arrival Date: <input type="text" name="arrivalDate" [(ngModel)]="newPurchase.arrivalDate"><br>
  Return Date: <input type="text" name="returnDate" [(ngModel)]="newPurchase.returnDate"><br>
  Returned: <input type="checkbox" name="returned" [(ngModel)]="newPurchase.returned"><br>
  <button (click)="createPurchase(newPurchase)" (click)="addPurchase = false" >Save</button>
  <button (click)="addPurchase = false">Cancel</button>
</form>
